* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
}

.home,
.services,
.facility,
.sign-up {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}
.sign-up-para,
.facility-para {
	display: flex;
	height: 20vh;
	padding-left: 3rem;
	padding-right: 3rem;
	align-items: center;
	justify-content: center;
	font-size: x-large;
	color: black;
}
.amenities > ul,
.amenities {
	display: flex;
	color: black;
	font-size: large;
	align-items: center;
	justify-content: center;
}
.services {
	background-image: url("images/img2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 100px;
}

.facility {
	background-image: url("images/img1.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 100px;
}

.sign-up {
	background-image: url("images/img-8.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 100px;
}
